@import "tailwindcss";
@import "@fontsource-variable/nunito-sans/index.css";


.nunito-sans-font{
    font-family: 'Nunito Sans Variable', sans-serif;
}

@import "@fontsource/space-grotesk/index.css";

.space-grotesk-font {
    font-family: 'Space Grotesk', sans-serif;
}

@import "@fontsource/gugi/index.css";

.gugi-font{
    font-family: 'Gugi', sans-serif;
}
