@import "tailwindcss";
@import "@fontsource-variable/nunito-sans/index.css";

/* Empêche le flash blanc au chargement */
html, body {
    background-color: #0d1117;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}


.nunito-sans-font{
    font-family: 'Nunito Sans Variable', sans-serif;
}

@import "@fontsource/space-grotesk/index.css";

.space-grotesk-font {
    font-family: 'Space Grotesk', sans-serif;
}

@import "@fontsource/gugi/index.css";

.gugi-font{
    font-family: 'Gugi', sans-serif;
}
